GOERLI_RPC_URL=<ALCHEMY_URL> # (https://www.alchemy.com/)

PRIVATE_KEY=<YOUR_ACCOUNT_PRIVATE_KEY> # (https://www.alchemy.com/)

ETHERSCAN_API_KEY=<YOUR_KEY> # (https://goerli.etherscan.io/)

UPDATE_FRONT_END=true # (true: dynamically update ABI and contract address frontend)