.deleteBtn {
  color: red;
  cursor: pointer;
}

.deleteBtn:hover {
  color: #760909;
}

.rotate {
    animation: rotation 3s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }