.deleteBtn {
  color: red;
  cursor: pointer;
}

.deleteBtn:hover {
  color: #760909;
}

.rotate {
  animation: rotation 3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.wlcimg {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px
}

@media only screen and (max-width: 600px) {
  .wlcimg {
    flex-direction: column;
  }
}